################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

.vs/
/qqtang_guaji/.vs/
/qqtang_guaji/bin/
/qqtang_guaji/obj/
/qqtang_guaji/bin/Debug/qqtang_guaji.exe
